@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Poppins";
  src:local("Poppins"),
  url('../../public/Poppins/Poppins-Regular.ttf') format("truetype");
}

body { 
  user-select: none;
  font-family: 'Poppins', sans-serif;;
}


@layer base {
  .text-main {
    @apply text-green-500
  }

  .bg-main {
    @apply bg-green-500
  }
  .font-main {
  }

}
.border-gradient {
  background-image: linear-gradient(to top, #000000, #0000ff);
  background-clip: padding-box;
  border: 1px solid transparent;
}
  .adjust {
    @apply max-w-5xl mx-auto px-4 xl:px-0 py-28
  }
  
