@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { 
  user-select: none;
  font-family: 'Poppins', sans-serif;;
}
.font-main {
  font-family: 'Chakra Petch', sans-serif;
}

@layer base {
  .text-main {
    @apply text-green-500
  }

  .bg-main {
    @apply bg-green-500
  }

}
.border-gradient {
  background-image: linear-gradient(to top, #000000, #0000ff);
  background-clip: padding-box;
  border: 1px solid transparent;
}
  .adjust {
    @apply max-w-5xl mx-auto px-4 xl:px-0 py-14 
  }
  
